header{
	color: black;
	font-weight: bold;
	font-family: 'Corben', cursive;
	width: 100%;
	height: 70px;
}


body{
  max-height: 1000px;
	width: 100%;
  color: black;
  font-family: 'Yu Gothic UI',sans-serif;
}

i{
  margin-right: 3px;
 }


.login{
  background: #abbaab !important; 
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab) !important;  
  background: linear-gradient(to right, #ffffff, #abbaab) !important;
}


.navbar {
  text-transform: uppercase;
	padding: 10px 1rem;
	
}


.navbar-brand img{
  height: 50px !important;
}


.nav-item{
  font-size: 15px;
	letter-spacing: 2px;
}


.nav-link{
  display: inline-block;
  position: relative;
  text-decoration: none;
}


.nav-link::after{
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  width: 100%;
  transform: scale(0, 1);
  transform-origin: right top;
  background: #2196F3;
  transition: transform .3s;
}


.nav-link:hover:after{
  transform-origin: left top;
  transform: scale(1, 1);
}


a{
  cursor: pointer;
}

/* footer-section */
.footer{
	width: 100%;
  margin-top: 20px;
}

.footer-logo{
	width: 70px;
	height: 20px;
}

.footer>p{
	margin:0;
}

a{
	cursor: pointer;
	text-decoration: none;
	color: black;
}

a:hover{
	color: black;
	text-decoration: underline;
	
}

@media (max-width: 540px) { 
	
	header{
	 height: 40px;
	}

	header h3{
		 margin-top: 3px;
		 font-size: 13px;
	}

	header p{
		 font-size: 10px;
	}
	
	body{ 
		background-size: 100% 100%;
	}
	
	.carousel-image{
		height: 200px !important;
	}
}